anyjson==0.3.3
beautifulsoup4==4.3.2
blinker==1.4
disqus-python==0.4.2
docutils==0.14
ecdsa==0.10
Fabric==1.8.1
feedgenerator==1.9
flake8==2.4.1
ghp-import==0.4.0
Jinja2==2.9.6
Markdown==2.3.1
MarkupSafe==1.0
mccabe==0.3.1
paramiko==1.12.1
pelican==3.7.1
pep8==1.5.7
py-w3c==0.1.2
pycrypto==2.6.1
pyflakes==0.8.1
Pygments==2.5.2
python-dateutil==2.6.1
python-gettext==3.0
pytz==2017.2
requests==2.7.0
selenium==2.39.0
simplejson==3.6.5
six==1.10.0
smartypants==1.8.3
typogrify==2.0.1
Unidecode==0.4.21
